<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<body>
    <h2>Create User</h2>
    <form action="/create", method="post">
        <div>
            {{ form.email.label }}: {{ form.email }} <br><br>
            {{ form.password1.label }}: {{ form.password1 }} <br><br>
            {{ form.password2.label }}: {{ form.password2 }} <br><br>
            {{ form.role.label }}: {{ form.role }}
            {{ form.submit }}
        </div>
    </form>
</body>
</html>