<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Delete</title>
  </head>
  <body>
    <div class="flex justify-center items-center h-screen">
      <form
        action="/delete/{{ order.id }}"
        method="post"
        class="w-96 bg-gray-300 p-10 border rounded-xl text-center"
      >
        <input type="hidden" name="_method" value="DELETE" />
        <h3 class="text-2xl font-bold mb-6">Confirm to Delete</h3>
        <button
          type="submit"
          class="bg-red-500 hover:bg-red-900 text-white px-6 py-2 border rounded-xl"
        >
          Confirm Deletion
        </button>
        <button>
          <a
            href="{{ url_for('home')}}"
            class="bg-white hover:bg-gray-600 hover:text-white px-6 py-2 border rounded-xl"
            >Cancel</a
          >
        </button>
      </form>
    </div>
  </body>
</html>
