<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Order</title>
  </head>
  <body>
    <div class="m-10">
      <a
        href="{{ url_for('logout') }}"
        class="bg-gray-300 hover:bg-gray-600 hover:text-white float-right border rounded-xl px-6 py-2 mb-10"
        >Logout</a
      >
      <form
        action="/pizza/{{ order.id }}"
        method="post"
        class="clear-both flex justify-center"
      >
        <div class="bg-gray-300 p-10 border rounded-xl w-96">
          {{ form.date.label }}
          <input
            type="date"
            name="date"
            value="{{ order.date }}"
            class="border rounded-xl p-2 w-full"
          /><br /><br />

          {{ form.pizzatype.label }}
          <div class="border rounded-xl p-2 w-full bg-white mb-4">
            {{ form.pizzatype }}
          </div>

          {{ form.crust.label }}
          <div class="border rounded-xl p-2 w-full bg-white mb-4">
            {{ form.crust }}
          </div>

          {{ form.size.label }}
          <div class="border rounded-xl p-2 w-full bg-white mb-4">
            {{ form.size }}
          </div>

          {{ form.quantity.label }}
          <div class="border rounded-xl p-2 w-full bg-white mb-4">
            {{ form.quantity }}
          </div>

          {{ form.price.label }}
          <input
            type="text"
            name="price"
            value="{{ order.price }}"
            class="border rounded-xl p-2 w-full mb-4"
          />

          <button
            type="submit"
            class="bg-white hover:bg-gray-900 hover:text-white border-black rounded-xl p-6 py-2"
          >
            Save Changes
          </button>
          <a
            href="{{ url_for('delete', id=order.id) }}"
            class="bg-white hover:bg-gray-900 hover:text-white border-black rounded-xl p-6 py-2"
            >Delete</a
          >
        </div>
      </form>
    </div>
  </body>
</html>
